/*Account Page*/
/*Mobile-First Design*/
.contact{
    background-color: #E2AE3D;
    color:#4B3A5E;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
     }

.contact>h1{
    font-size: 18px;
    font-weight: 600;
}

h2{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 15px;
}
.formcontainer{
    display: flex;
    background-color: white;
    margin: 10px;  
}
input#password, input#username{
    font-family: poppins;
    border: none;
    color: #4B3A5E;
    font-size: calc(2px + 1.5625vw);
}
.icon{
    height:30px;
}
#loginbutton{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #4B3A5E;
    color: white;
    font-family: poppins;
    font-size: 12px;
    border: none;
    border-radius: 24px;
    grid-area: fifth;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.8s ease;
}
#loginbutton:hover {
    box-shadow: 0 8px 16px 0 black;

}
#signbutton{
    text-decoration: none;
    text-transform: uppercase;
    background-color:#4B3A5E;
    color:#E2AE3D;
    font-family: poppins;
    font-size: 12px;
    border: none;
    border-radius: 24px;
    grid-area: fifth;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.8s ease;
    
}
#loginbutton:hover {
    box-shadow: 0 8px 16px 0 black;
}

.login{
    padding-top: 10px;
}
.library{
    order: -1;
}

footer{
    background-color: #4B3A5E;
    color: #E2AE3D;
}

/*Tablet CSS*/
@media only screen and (min-width: 768px){
.contact{
    padding-left: calc(40px + 2.5625vw);
    padding-right: calc(40px + 2.5625vw);
    padding-top: 60px;
    padding-bottom: 0;
    display: grid;
    grid-template-areas: 'title image'
                         'login image'
                         'form image';
grid-template-rows: 5% 5% 40%;
grid-template-columns: 40% 60%;                    
}
.login{
    grid-area: image;
    width: calc(90% + 1.5625vw);
    padding: 0;
}
.library{
   width: 80%;
   justify-self: end;
}
.contact>h1{
    grid-area: title;
    justify-self: start;
    font-size: calc(10px + 1.5625vw);
}
.icon{
    height: calc(30px + 1.5625vw);
}
h2{
    grid-area: login;
    justify-self: start;
    font-size: calc(4px + 1.5625vw);
}

form{
    grid-area: form;
    align-self: center ;
    
}
.formcontainer{
    margin-left: 0;
}
}
/*Laptop CSS*/

@media screen and (min-width: 1024px)  {
#loginbutton{
    font-size: calc(4px + 1.5625vw);
}
#signbutton{
    font-size: calc(4px + 1.5625vw);
}
}
    