/*Mobile First*/

body {
    font-family: Poppins;
}

/* header*/
header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%; 
}

.nav {
    text-decoration: none;
    text-transform: uppercase;
    color: #4B3A5E;
    font-weight: 400;
    padding-top:8px ;
    padding-bottom: 8px;
    transition: 0.8s ease;
}

.nav:hover{
    font-weight: 900;
    transition: 0.8s ease;
}

.cosmic, .books {
    display: none;
}

/*Hero*/

.hero {
    background-color: #4B3A5E;
    display: grid;
    padding: 15px;
    color: white;
    line-height: 1.5;
    grid-template-rows: auto auto auto auto auto;
}
.firstline {
    font-size: 20px;
    font-weight: 400;
    line-height: 0.5;
    grid-row: 1/2;
    text-align: center;
}
.secondline{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -1px;
    grid-row: 2/3;
    justify-self: center;
}
.club {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -1px;
    color: #E2AE3D;
    grid-row: 2/3;
    justify-self: start;
    text-align: end;
}

.hero>p{
    font-size: 12px;
    font-weight: 300;
    grid-row: 3/4;
    text-justify: inter-word;
    padding-bottom: 10px;
    text-align: center;
}

.enternow{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #D886AF;
    color:black;
    font-family: poppins;
    font-size: 14px;
    border: none;
    border-radius: 24px;
    grid-row: 4/5;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.8s ease;
}

.enternow:hover {
    box-shadow: 0 8px 16px 0 #E2AE3D;
}

.heroimage {
    display: grid;
    padding: 5px;
    grid-row: 5/6;
    justify-self: center;
    animation-name: jump;
    animation-duration: 1s;
}

@keyframes jump {
    50% { transform: translate(0, -100px); }
}

/*footer*/

footer{
    background-color:#E2AE3D ;
    color: #4B3A5E;
    font-size: 14px;
    font-weight:500;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    padding: 12px;
}

/*Tablet CSS*/
@media only screen and (min-width: 768px) {
/*header*/

    header{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;  
    }
    .logopic{
        width:15%;
    }
    .cosmic {
        display: grid;
        grid-template-columns: 50% 50%;
        text-transform: uppercase;
        color: #E2AE3D;
        font-size: 24px;        
    }

    .cosmicC{
        padding-left: 3px;
    }

/*hero*/

.hero {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 40px;
    grid-template-columns: 45% 55%;
    grid-template-rows: 20% 10% 40% 30%;
    height: 100%;
} 
    .firstline {
        font-size: 32px;
        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: start;
        align-self: end;   
       }    
    .secondline{
        font-size: 36px;
        justify-self: start;
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .hero>p{
        font-size: calc(2px + 1.5625vw);
        text-align: start;
        align-self: center;
        grid-row: 3/4;
        grid-column: 1/2;  
      }  
    .enternow{
        font-size: 16px;
        grid-row: 4/5;
        grid-column: 1/2;
        height: fit-content;
        width: fit-content;
    }
    .enternow:hover {
        box-shadow: 0 8px 16px 0 #E2AE3D;
    }
    .heroimage {
        width: 95%;
        justify-self:flex-end;
        grid-row: 1/5;
        grid-column: 2/3;
    }
}
/*Laptop CSS*/
@media only screen and (min-width: 1024px)  {
    /*header*/
 
    header{
    font-size: 20px;
   }
    .cosmic {  
        font-size: 28px;
    }

/*hero*/
    
    .firstline {
        font-size: 40px;
    }
    .secondline{
        font-size: 44px;
    }   
    .hero>p{
        height: max-content;
    }   
    .enternow{
        font-size: 18px;   
    }   
    .enternow:hover {
        box-shadow: 0 8px 16px 0 #E2AE3D;
    }   
    .heroimage {
        justify-self: center;
    }
   
}